<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Modo"
        tools:targetApi="31">

        <!-- Activities -->
        <activity android:name=".ActivityMain" android:exported="false" />
        <activity android:name=".AddTask" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".HomeFragment" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".ProfileFragment" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".ProfileSettings" android:exported="false" />
        <activity android:name=".AnalyticsFragment" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".CalendarFragment" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".SignUp2nd" android:exported="false" />
        <activity android:name=".SignUp1st" android:exported="false" />
        <activity android:name=".ForgotPassword" android:exported="false" />
        <activity android:name=".HomeCurrentTask" android:exported="false" />
        <activity android:name=".HomeCompletedTask" android:exported="false" />
        <activity android:name=".HomeUpcomingTask" android:exported="false" />
        <activity android:name=".HomeMissedTask" android:exported="false" />
        <activity android:name=".Login" android:exported="false" />
        <receiver android:name=".DeadlineNotificationReceiver" android:exported="false"/>

        <!-- Entry point -->
        <activity android:name=".Landing" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>